<footer class="footer">
    <div class="footer__container">
        <a class="footer__container-icon" href="https://es-es.facebook.com/" target="_blank">
            <img src="assets/icons/fb.svg">
        </a>
        <a class="footer__container-icon" href="https://instagram.com/" target="_blank">
            <img src="assets/icons/insta.svg">
        </a>
        <a class="footer__container-icon" href="https://twitter.com/" target="_blank">
            <img src="assets/icons/tw.svg">
        </a>
        <a class="footer__container-icon" href="https://linkedin.com/" target="_blank">
            <img src="assets/icons/linkedin.svg">
        </a>
    </div>
    <div class="footer__copyright">
        <p>Copyright ©2020 All rights reserved</p>
    </div>
</footer>
