<div class="description">
    <div class="description__text">
        <h1>Hi, I am John,<br>
        Creative Technologist</h1>
        <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
        <button class="description__text-button" (click)="downloadPDF()">
          Download Resume
        </button>
    </div>
    <div class="description__image">
        <div class="description__image-container">
            <img src="assets/user-image.png"/>
        </div>
        <div class="description__image-shadow"></div>
    </div>
</div>
